* {
  font-family: poppins, sans-serif, courier;
}
h1 {
  font-size: 90px;
  color: blue;
  text-align: center;
}

.btn {
  display: flex;
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
